name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions: 
      contents: read
      packages: write

    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.2

    - name: Docker Login
      uses: docker/login-action@v3.7.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    
    - name: Docker Setup Buildx
      uses: docker/setup-buildx-action@v3.12.0

    - name: Build and push Backend Docker images
      uses: docker/build-push-action@v6.18.0
      with:
        context: ashs_forum_back
        push: true
        tags: ghcr.io/shihkuanchen/ashs_forum-backend:latest

    - name: Build and push Frontend Docker images
      uses: docker/build-push-action@v6.18.0
      with:
        context: ashs_forum_front
        push: true
        tags: ghcr.io/shihkuanchen/ashs_forum-frontend:latest


          
          
